* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color:silver;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header, footer {
    color: whitesmoke;
    background-color: rgb(4, 4, 79);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header {
    padding: 0.5rem 0.5rem;
    flex: 1 0 auto;
    justify-content: space-between;
}

header h1 {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(230, 228, 214)), color-stop(0.5, rgb(200, 123, 30)), color-stop(1,rgb(230, 228, 214)) );
    background-image: gradient( linear, left top, right top, color-stop(0, rgb(230, 228, 214)), color-stop(0.5, rgb(200, 123, 30)), color-stop(1,rgb(230, 228, 214)) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 2.5rem;
}
header .menu {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    
}

header .menu ul {
    list-style: none;
    display: flex;
}

header .menu a {
    display: block;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    font-size: 1.3rem;
}

footer {
    flex: 1 0 auto
}

footer p {
    margin: 0.5rem 0;
}

main {
    flex: 30 0 auto;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .jumbo {
    background-color: rgb(163, 165, 22) ;
    color: bisque;
    padding: 3rem;
    font-size: 1.3rem;
    border-radius: 1rem;
}

main form {
    display: flex;
    flex-direction: column;
}
.nodisplay {
    display: none !important;
}

.novisibility {
    visibility: hidden;
}

.mail {
    text-decoration: underline;
}

.question {
    font-size: 1.2rem;
    color: brown;
    cursor: pointer;
}

.response {
    font-style: italic;
}

#error_msg {
    color: red;
    border: 0.1rem solid red;
}

div.games {
    width: 80%;
    margin: 0.5rem auto;
}
  
.table_games {
    width: 100%;
    margin-bottom: 1rem;
}

.table_games caption {
    width: 100%;
    font-size: 1.4rem;
    background-color: brown;
    color: bisque;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
}

.table_games tr:nth-of-type(2n) {
    background-color: bisque;
}

.table_games th, 
.table_games td {
    padding: 0.4rem 1rem;
}

.botones {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}
.boton {
    color: bisque;
    background-color: brown;
    cursor: pointer;
    padding: 0.3rem;
    
}